files:
    "/etc/nginx/conf.d/app_proxy_buffer.conf" :
         mode: "000644"
         content: |
server {
    location / {
        proxy_buffering      on;
        proxy_buffer_size    16k;
        proxy_buffers        32   16k;
        client_body_buffer_size 128k;
        proxy_busy_buffers_size 64k;

    container_commands:
        01_reload_nginx:
        command: "service nginx reload"
}